<div class="ui left action input" style="margin: 20px;" v-if="content_id!=''">
	<button class="ui labeled icon button"><i class="header icon"></i> 标 题 </button>
	<input type="text" placeholder="来个title" v-model="blog.blog_title"></input>
	<button class="ui labeled icon button" @click="save_blog" style="margin-left: 20px"><i class="send icon"></i> 发 布  </button>
</div>
<div style="margin: 17px;" v-if="content_id!=''">
	<editor></editor>    
</div>
<div v-if="content_id==''">
	<h3 class="ui header" style="text-align:center;font-family: serif;padding-top: 30px;">
		<p></p>
		<p>先加个分类</p>
		<p>  </p>
	</h3>
</div>
