<div class="ui main container" style="min-height: 100%;padding-left: 100px">
	<div class="ui top attached menu">
		<div class="ui dropdown icon item">
			<h3 class="ui header">API管理</h3>
		</div>
		<div class="right menu">
			<div class="ui right aligned category search item">
				<div class="ui transparent icon input">
					<input class="prompt" type="text" v-model="search_key" placeholder="Search api...">
					<i class="search link icon" @click="load(1)"></i>
				</div>
				<div class="results"></div>
			</div>
		</div>
	</div>
	<div class="ui bottom attached segment" style="background-color: #F8F8F8;border:0px;">
		<table class="ui very basic table">
			<thead>
				<tr>
					<th>api</th>
					<th>归属</th>
					<th>api介绍</th>
					<th>在线验证</th>
					<th>限权验证</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="api in apis">
					<td>(% api.api %)</td>
					<td>
						<div class="ui left pointing dropdown link item"  id="(% api.api %)" v-if="api.restrict">
							(% api.business_text %)<a><i class="configure icon" @click="getBusiness(api)"></i></a>
							<div class="menu" style='padding: 0px 20px 20px 20px;'>
								<div class="header item">
									<i class="tags icon"></i>
									业务选择
								</div>
								<div class="item_api" data-value="important" v-for="business in businesses">
									<div class="ui checkbox">
										<input type="checkbox" name="example" v-model="business.checked" style="disabled" @change="changeChecked(api, business)">
										<label>(% business.business_name %)</label>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>(% api.api_explain %)</td>
					<td>
						<div class="ui toggle checkbox">
							<input type="checkbox" name="public" v-model="api.session" @change="save_status(api)">
							<label> </label>
						</div>
					</td>
					<td>
						<div class="ui toggle checkbox">
							<input type="checkbox" name="public" v-model="api.restrict" @change="save_status(api)">
							<label> </label>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<paging :pag_count.sync="pag_count"></paging>	
	</div>
</div>