<div class="ui fixed inverted vertical sticky menu" style="min-height: 100%;padding-top: 80px;max-width: 140px">
	<div class="ui container">
		<a class="header item" @click="change_component('welcome')">
			<i class="home icon"></i>首页
		</a>
		<div class="ui simple dropdown item" v-for="bar in bar_data">
		    (% bar.business_name %)<i class="dropdown icon"></i>
		    <div class="menu">
				<a class="item" @click="change_component(child_bar.component)" v-for="child_bar in bar.child"><i class="(% child_bar.icon %) icon"></i>(% child_bar.business_name %)</a>
			</div>
		</div>
	</div> 
</div>