<div class="ui segment">
  <div class="ui comments">
    <h3 class="ui dividing header">世界</h3>
    <div class="ui reply form">
      <div class="field">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="输入账号或者用户名搜索">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>
    <div class="ui grid comments">
      <div class="comment eight wide column">
        <a class="avatar">
          <img src="/static/static/userfile/image/chenli.png">
        </a>
        <div class="content">
          <a class="author">埃利奥特付</a>
          <div class="metadata">
            <span class="date">在昨天12:30am</span>
          </div>
          <div class="text">
            <p>这对我的调查非常有用。感谢！</p>
          </div>
        </div>
      </div>
      <div class="comment eight wide column">
        <a class="avatar">
          <img src="/static/static/userfile/image/chenli.png">
        </a>
        <div class="content">
          <a class="author">马特</a>
          <div class="metadata">
            <span class="date">在今天5:42pm</span>
          </div>
          <div class="text">
            怎样的艺术！
          </div>
        </div>
      </div>
      
      <div class="comment eight wide column">
        <a class="avatar">
          <img src="/static/static/userfile/image/chenli.png">
        </a>
        <div class="content">
          <a class="author">乔亨德森</a>
          <div class="metadata">
            <span class="date">5天前</span>
          </div>
          <div class="text">
            老兄，这是可怕的。太感谢了！
          </div>
        </div>
      </div>
      <div class="comment eight wide column">
        <a class="avatar">
          <img src="/static/static/userfile/image/chenli.png">
        </a>
        <div class="content">
          <a class="author">乔亨德森</a>
          <div class="metadata">
            <span class="date">5天前</span>
          </div>
          <div class="text">
            老兄，这是可怕的。太感谢了！
          </div>
        </div>
      </div>
      <div class="comment eight wide column">
        <a class="avatar">
          <img src="/static/static/userfile/image/chenli.png">
        </a>
        <div class="content">
          <a class="author">乔亨德森</a>
          <div class="metadata">
            <span class="date">5天前</span>
          </div>
          <div class="text">
            老兄，这是可怕的。太感谢了！
          </div>
        </div>
      </div>
      <div class="comment eight wide column">
        <a class="avatar">
          <img src="/static/static/userfile/image/chenli.png">
        </a>
        <div class="content">
          <a class="author">乔亨德森</a>
          <div class="metadata">
            <span class="date">5天前</span>
          </div>
          <div class="text">
            老兄，这是可怕的。太感谢了！
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>